@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html body{
overflow-x:hidden 
}
    
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        height: 100svh;
        font-family: Montserrat, sans-serif;
        font-weight: 800;
        box-sizing: border-box;
    }

    p{
        font-weight: 400;


    }
    .navBar{
        position: fixed;
        top: 0;
        margin: 0;
        width: 100%;
        z-index: 100;
        /* left:1rem; */
        border: solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.523);
        -webkit-animation: highlight auto linear;
                animation: highlight auto linear;
        animation-timeline: scroll(root);
    }

    @-webkit-keyframes highlight{
        10% {
      background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 19%, rgba(0, 0, 0, 0.558) 35%, rgba(0, 0, 0, 0.837) 43%);
        }
        24% {
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 45%,  rgba(0, 0, 0, 0.558) 58%, rgba(0, 0, 0, 0.855) 69%);
        }
        88%{
            background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 45%,  rgba(0, 0, 0, 0.558) 58%, rgba(0, 0, 0, 0.855) 69%);
        }
        89%{
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 74%,  rgba(0, 0, 0, 0.558) 88%, rgba(0, 0, 0, 0.855) 95%);
        }
        100%{
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 74%,  rgba(0, 0, 0, 0.558) 88%, rgba(0, 0, 0, 0.855) 95%);
      
        }
      
      }

    @keyframes highlight{
        10% {
      background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 19%, rgba(0, 0, 0, 0.558) 35%, rgba(0, 0, 0, 0.837) 43%);
        }
        24% {
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 45%,  rgba(0, 0, 0, 0.558) 58%, rgba(0, 0, 0, 0.855) 69%);
        }
        88%{
            background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 45%,  rgba(0, 0, 0, 0.558) 58%, rgba(0, 0, 0, 0.855) 69%);
        }
        89%{
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 74%,  rgba(0, 0, 0, 0.558) 88%, rgba(0, 0, 0, 0.855) 95%);
        }
        100%{
          background: linear-gradient(81deg, rgba(0, 0, 0, 0.9) 74%,  rgba(0, 0, 0, 0.558) 88%, rgba(0, 0, 0, 0.855) 95%);
      
        }
      
      }

    .navBar img{
        height: 50px;
        background: none;
    }

    .navBar a{
        color: white;
        text-decoration: none;
        /*  font-size: 2vw;for computer screen*/
        font-size: 4vw;
        font-weight: 400;
        
    }

    .section {
        position: relative;
        height: 100vh;
        height: 100svh;


        display: flex;
        justify-content: center;
        align-items: center;

    }

    .content {

        text-align: center;
        padding: 5.8vw 8.8vw  ;

        z-index: 2;
        


    }

    .section:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: rgba(0, 0, 0, 0.1);  */
    }
    #headSection:before {
        background-image: url('imagesCazuelas/backg1.png'); 
        background-position: center;
        background-attachment: fixed; /* Ensures the background image remains fixed while scrolling */

        background-size: cover;
        -webkit-filter: brightness(60%);
                filter: brightness(60%)
        /* Background image for headSection */
    }
    

    
    #headSection {
        /* background-image: url('imagesCazuelas/backg1.png'); */
        background-position: center;
        color: white;
        margin-bottom: 9vw;
        /* filter: contrast(80%); */
        /* filter: brightness(70%) */



    }

 

    #aboutSection{
        height: 25rem;

    }
    .aboutSectionContent{
        text-align: center;
        z-index: 1; /* Ensures content is above background */
        padding: 2rem 2rem  ;
        width: 100%;


    }

    #bodySection:before {
        background-image: url('imagesCazuelas/backg2.png'); 
        background-position: center;
        background-attachment: fixed; /* Ensures the background image remains fixed while scrolling */

        background-size: cover;
        -webkit-filter: brightness(60%);
                filter: brightness(60%)
    }
    #bodySection {
    
        background-position: center;

        color: white;

        
    }

    #bodySection .content h4{
        padding-bottom: 1rem;
        border-bottom: 2px solid #d75351;

    }

    #bodySection .content p:nth-child(4){
        border-bottom: 2px solid #d75351; 
        padding-bottom: 1rem; 
    }


    #aboutSection {
        color: rgb(255, 255, 255);
        z-index: 2; /* Ensures about section is above background */
        height: -webkit-fit-content ;
        height: -moz-fit-content ;
        height: fit-content ;


    }

    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: 1; /* Ensures the video covers the entire section */
    }

    .videoProducts{
        display: none;
    }

    .topHeadProducts{


        background-image: url(imagesCazuelas/imageProductsHead.jpg) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        margin-bottom: 9vw;


    }
    .topHeadProducts h2, .topHeadProducts p{
        background-color: rgba(0, 0, 0, 0.578);
        display: inline-flex;

        

    }

    .allProductsHead {
        color: rgb(0, 0, 0);
        background-image: url(imagesCazuelas/backsubHeadProducts.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 110vw;
        margin-bottom: 10vw;
    
        /* border: solid; */

    }

    .subHeadProducts{
        margin: 0;
    }

    .subHeadProducts img{
        margin: 0;
        width: 12vw;


    }
    .subHeadProducts h4{
        /* border: solid; */
        margin-bottom: 0;
    }

    .splashes{
        display: flex;
        justify-content: space-between;
        margin-top: -23vw;            
    }


    .subHeadTitles{
        width: 100%; /* Set width to 100% to make it as wide as its container */
        white-space: nowrap; /* Prevent line breaks */
        display: flex; 
        /* justify-content: space-between; */
        overflow-x: hidden;
        font-family: Allura;
        font-size: 7vw;
    }
    .subHeadTitles h1 {
        margin: 0 15vw; 
        position: relative;
        padding: 0;



    }

    .animHeadProducts{
        margin: 0;
        padding: 0;
    }
    
    .animHeadProducts img{
        width: 60vw;
        }
    
    .tostadasAnim{ 
        width: 100%; /* Set width to 100% to make it as wide as its container */
        white-space: nowrap; /* Prevent line breaks */
        display: flex; 
        justify-content: space-between;
        overflow-x: hidden;
    }
    .animHeadProducts .tostadasAnim img{
        position: relative;
        z-index: 10;
        margin: 0 20vw;
        padding: 0;
    }

    
    .mantel{
        /* position: relative; */
        translate: 5vw -50vw ;
        z-index: 0;
    }
    
    .slideBothAnim{
        -webkit-animation: slideBoth 8s infinite;
                animation: slideBoth 8s infinite;
        /* border: solid; */
    }
    

    .scrollAnim{
        animation: scroll 8s infinite ease-out;
        -webkit-animation: scroll 8s infinite; /* Safari 4.0 - 8.0 */
    }



    @keyframes scroll {
        0%{
            transform: translateX(6vw);
    
        }

        25%{
            transform: translateX(-2vw);
        }
    

        30%{
            transform: translateX(-5vw);
        }
    
        63%{
            transform: translateX(-75vw);
        }

        68%{
            transform: translateX(-80vw);
        }

        90%{
            transform: translateX(-144vw);
        }

        95%{
            transform: translateX(-147vw);
    
        }
    
        100%{
            transform: translateX(5vw);
    
        }
    }
    


    .rotateAnim{
        -webkit-animation: rotate 8s infinite ;
                animation: rotate 8s infinite ;
        -webkit-animation-fill-mode:none;
                animation-fill-mode:none;


    }

    @-webkit-keyframes rotate {
        20%{
            transform: rotateX(0deg);
        }
        25%{
            transform: rotateX(0deg);
        }
        60%{
            transform: rotateX(180deg);

        }
        75%{
            transform: rotateX(360deg);

        }
        95%{
            transform: rotateX(360deg);
        }
        
        100%{
            transform: rotateX(90deg);
        }
    }

    @keyframes rotate {
        20%{
            transform: rotateX(0deg);
        }
        25%{
            transform: rotateX(0deg);
        }
        60%{
            transform: rotateX(180deg);

        }
        75%{
            transform: rotateX(360deg);

        }
        95%{
            transform: rotateX(360deg);
        }
        
        100%{
            transform: rotateX(90deg);
        }
    }
        


    .scroll2Anim{
        -webkit-animation: scroll2 8s infinite;
                animation: scroll2 8s infinite;
        /* animation-direction:initial; */
    }

    @-webkit-keyframes scroll2 {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-99vw);
        }
        65%{
            transform: translateX(-99vw);
        }
    
        75%{
            transform: translateX(-200vw);
    
        }
        97%{
            transform: translateX(-200vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }
    }

    @keyframes scroll2 {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-99vw);
        }
        65%{
            transform: translateX(-99vw);
        }
    
        75%{
            transform: translateX(-200vw);
    
        }
        97%{
            transform: translateX(-200vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }
    }

    @-webkit-keyframes slideBoth {

        0%{
            transform: translateX(-50vw);
            opacity: 0;
        }
        3%{
            transform: translateX(0vw);
            opacity: 1;
        }
        27%{
            transform: translateX(1vw);
            opacity: 1;
            -webkit-filter: hue-rotate(0deg);
                    filter: hue-rotate(0deg);

        }
        30%{
            transform: translateX(-50vw);
            opacity: 0;


        }
        32%{
            transform: translateX(-1vw);
            opacity: 1;
            -webkit-filter: saturate(2);
                    filter: saturate(2);
            -webkit-filter: hue-rotate(180deg);
                    filter: hue-rotate(180deg);
        }
        60%{
            transform: translateX(-0vw);
            opacity: 1;
            -webkit-filter: saturate(2);
                    filter: saturate(2);
            -webkit-filter: hue-rotate(180deg);
                    filter: hue-rotate(180deg);
        }


        63%{
            transform: translateX(-50vw);
            opacity: 0;
            -webkit-filter: hue-rotate(90deg);
                    filter: hue-rotate(90deg);


        }   
        65%{
            transform: translateX(-5vw);
            opacity: 1;
        }
        95%{
            transform: translateX(-0vw);
            opacity: 1;
            -webkit-filter: hue-rotate(90deg);
                    filter: hue-rotate(90deg);
        }
        100%{
            transform: translateX(-50vw);
            opacity: 1;
        }
    }

    @keyframes slideBoth {

        0%{
            transform: translateX(-50vw);
            opacity: 0;
        }
        3%{
            transform: translateX(0vw);
            opacity: 1;
        }
        27%{
            transform: translateX(1vw);
            opacity: 1;
            -webkit-filter: hue-rotate(0deg);
                    filter: hue-rotate(0deg);

        }
        30%{
            transform: translateX(-50vw);
            opacity: 0;


        }
        32%{
            transform: translateX(-1vw);
            opacity: 1;
            -webkit-filter: saturate(2);
                    filter: saturate(2);
            -webkit-filter: hue-rotate(180deg);
                    filter: hue-rotate(180deg);
        }
        60%{
            transform: translateX(-0vw);
            opacity: 1;
            -webkit-filter: saturate(2);
                    filter: saturate(2);
            -webkit-filter: hue-rotate(180deg);
                    filter: hue-rotate(180deg);
        }


        63%{
            transform: translateX(-50vw);
            opacity: 0;
            -webkit-filter: hue-rotate(90deg);
                    filter: hue-rotate(90deg);


        }   
        65%{
            transform: translateX(-5vw);
            opacity: 1;
        }
        95%{
            transform: translateX(-0vw);
            opacity: 1;
            -webkit-filter: hue-rotate(90deg);
                    filter: hue-rotate(90deg);
        }
        100%{
            transform: translateX(-50vw);
            opacity: 1;
        }
    }



    .ingredientesAnim img{
        position: relative;
        margin: -15vw 0vw;
        z-index: 15;
        /* border: solid; */
    }


    /* .ingredientsDeshidratada{
        translate: -5vw -5vw;
    }  */

    .setDown1Anim{
        -webkit-animation: setDown1 8s infinite;
                animation: setDown1 8s infinite;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both;


    }
    
    @-webkit-keyframes setDown1 {
        0%{
            -webkit-filter: opacity(0);
                    filter: opacity(0);
        }

        8%{
            -webkit-filter: drop-shadow(0px 0px 0px #222);
                    filter: drop-shadow(0px 0px 0px #222);
        }

        9%{
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);
        }
        10%{
            -webkit-filter: opacity(1);
                    filter: opacity(1);
            translate:0vw 20vw;
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);


        }

        27%{
            -webkit-filter: opacity(1);
                    filter: opacity(1);
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);
            translate:0vw 20vw;


        }
        30%{
            translate:0vw -5vw;

            -webkit-filter: opacity(0);

                    filter: opacity(0);



        }
        100%{
            -webkit-filter: opacity(0);
                    filter: opacity(0);
            /* filter: drop-shadow(0px 0px 0px #222); */

        }
    }
    
    @keyframes setDown1 {
        0%{
            -webkit-filter: opacity(0);
                    filter: opacity(0);
        }

        8%{
            -webkit-filter: drop-shadow(0px 0px 0px #222);
                    filter: drop-shadow(0px 0px 0px #222);
        }

        9%{
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);
        }
        10%{
            -webkit-filter: opacity(1);
                    filter: opacity(1);
            translate:0vw 20vw;
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);


        }

        27%{
            -webkit-filter: opacity(1);
                    filter: opacity(1);
            -webkit-filter: drop-shadow(3px 3px 3px #222);
                    filter: drop-shadow(3px 3px 3px #222);
            translate:0vw 20vw;


        }
        30%{
            translate:0vw -5vw;

            -webkit-filter: opacity(0);

                    filter: opacity(0);



        }
        100%{
            -webkit-filter: opacity(0);
                    filter: opacity(0);
            /* filter: drop-shadow(0px 0px 0px #222); */

        }
    }

.setDown2Anim{
    -webkit-animation: setDown2 8s infinite;
            animation: setDown2 8s infinite;
    -webkit-animation-delay: 2.8s;
            animation-delay: 2.8s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes setDown2 {
    0%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
    8%{
        -webkit-filter: drop-shadow(0px 0px 0px #222);
                filter: drop-shadow(0px 0px 0px #222);
    }

    9%{
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
    }
    10%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 15vw;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);

    }
    27%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
        translate:0vw 15vw;


    }
    30%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
        translate:0vw -5vw;

    }
    100%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
}

@keyframes setDown2 {
    0%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
    8%{
        -webkit-filter: drop-shadow(0px 0px 0px #222);
                filter: drop-shadow(0px 0px 0px #222);
    }

    9%{
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
    }
    10%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 15vw;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);

    }
    27%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
        translate:0vw 15vw;


    }
    30%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
        translate:0vw -5vw;

    }
    100%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
}

.setDown3Anim{
    -webkit-animation: setDown3 8s infinite;
            animation: setDown3 8s infinite;  
    -webkit-animation-delay: 5.5s;  
            animation-delay: 5.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

}

@-webkit-keyframes setDown3 {
    0%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }

    8%{
        -webkit-filter: drop-shadow(0px 0px 0px #222);
                filter: drop-shadow(0px 0px 0px #222);
    }

    9%{
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
    }
    10%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 12vw;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);

    }
    27%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 12vw;

        -webkit-filter: drop-shadow(3px 3px 3px #222);

                filter: drop-shadow(3px 3px 3px #222);

    }
    30%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
        translate:0vw -5vw;

    }
    100%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
}

@keyframes setDown3 {
    0%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }

    8%{
        -webkit-filter: drop-shadow(0px 0px 0px #222);
                filter: drop-shadow(0px 0px 0px #222);
    }

    9%{
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);
    }
    10%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 12vw;
        -webkit-filter: drop-shadow(3px 3px 3px #222);
                filter: drop-shadow(3px 3px 3px #222);

    }
    27%{
        -webkit-filter: opacity(1);
                filter: opacity(1);
        translate:0vw 12vw;

        -webkit-filter: drop-shadow(3px 3px 3px #222);

                filter: drop-shadow(3px 3px 3px #222);

    }
    30%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
        translate:0vw -5vw;

    }
    100%{
        -webkit-filter: opacity(0);
                filter: opacity(0);
    }
}


.videoProducts{
    display:block;
    /* position: absolute; */
    margin: 0vw;
    padding: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

   }


.productSection{
    display: grid;
    place-items: center;
    padding: 4vw 4vw;
    margin: 10vw 1vw;
}

.tostadasProductWrapper img{
    display: inline-block;
    vertical-align: middle;
}
.totoposSection h1{
    color: white;
    position: absolute;
    z-index: 200;
    font-size: 6vw;
    /* border: solid; */
    transform: translate( 13vw,  -35vw);
   }

   .totoposSection img{
    -webkit-filter: saturate(1.2);
            filter: saturate(1.2);
   }

   .totoposSection .productSection{
    margin-top: 0;
   }


.productSection img{
    height: 50vw;

}


    form {
        text-align: center;
        margin: 5rem 2rem;
        padding: 2rem 2rem;
        border-top: solid 1px #d75351;
    }


    
    .contactForm {
        text-align: center;
        margin: 5vw 8vw;
        padding: 2vw 2vw;
        border-top: solid 1px #d75351;
    }
    
    label {
        display: block;
        margin-top: 3vw;
        font-weight: 400;
    }
    
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
    }
    
    textarea {
        resize: vertical;
    }
    
    button[type="submit"] {
        padding: 10px 20px;
        margin-top: 3vw;

        background-color: #d75351;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
    footer{
        background-color: rgb(20,36,52);
        color: white;
        padding: 5rem 1rem;
        text-align: center;
    }

    footer h4{
        text-decoration: none;
        font-size: 5vw;
        color: white;
        /* text-decoration: underline; */
    }

    footer a{
        margin-top: 10vw;
        text-decoration: none;
        color: black;       

    }

    /* hover animations */
    .navBar a:hover{
        scale: 1.1;
        -webkit-filter: drop-shadow(2px 2px 3px white);
                filter: drop-shadow(2px 2px 3px white);
    }









/* iphonSE */
@media only screen and (min-width: 374px) {
    .allProductsHead {
        max-height: 104vw;
    }


}

/* iphon12 */
@media only screen and (min-width: 389px) {

    .subHeadTitles h1{
        margin: 0 15vw ; 


    }

}






/*iphone xr*/
@media only screen and (min-width: 414px) {


    .subHeadTitles h1{
        margin: 0 14.5vw ; 


    }
 
}


/* iphon14Max */
@media only screen and (min-width: 430px) {
    .allProductsHead {
        max-height: 95vw;

        
    }
    .subHeadTitles h1{
        margin: 0 15vw ; 

    }

}


/*my  galaxy note 10 is 450 px aprox*/
@media only screen and (min-width: 445px) {


    .subHeadTitles h1{
        margin: 0 14.5vw ;   /* we went back here*/
    }

    
}
/* ipadmini */
@media only screen and (min-width: 767px) {

    html body{
        overflow-x:hidden 
        }

        
    .navBar a{
        font-size: 3vw;
    }



    .topHeadProducts{
        height: 25vw;
        
    }
    .allProductsHead {
       max-height: 90vw;
       margin-bottom: 0;
    }
    .subHeadProducts h4{
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .splashes{
        display: flex;
        justify-content: space-between;
        margin-top: -20vw;            
    }

    .subHeadTitles h1{
        margin: 0 7rem ; 
        /* margin-left: 8rem; */

    }

    .tostadasProductWrapper{
        display: flex; /* Use flexbox to align items in a row */
        justify-content: space-around;
        align-items: baseline;
    }
    .productSection{

        padding: 2vw .5vw;
        margin: 8vw 1vw;
    }
    
    .tostadasProductWrapper img{
        width: 20vw;
        height: auto;
        /* border: solid; */
    }

     .allProductsSection h4,.content{
        font-size:3vw;

    }

    .totoposSection h1{
        font-size: 5vw;
  
        transform: translate( 20vw,  -35vw);
       }


    
       @-webkit-keyframes scroll {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-75vw);
        }
        65%{
            transform: translateX(-75vw);
        }
    
        75%{
            transform: translateX(-145vw);
    
        }
        95%{
            transform: translateX(-145vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }
    }



    @keyframes scroll {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-75vw);
        }
        65%{
            transform: translateX(-75vw);
        }
    
        75%{
            transform: translateX(-145vw);
    
        }
        95%{
            transform: translateX(-145vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }
    }


}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .allProductsSection p, .allProductsSection h4,.content{
        font-size:2vw;

    }

    .navBar a{
        font-size: 2vw;
    }

    .topHeadProducts{
        height: 25vw;
    }

    .allProductsHead {
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: space-between; */
        max-height: 35vw;
        /* grid-template-columns: repeat(2, 1fr);
        gap: 0px;  */
    } 

        .subHeadProducts{
            width: 45vw;
        }

        .subHeadTitles{
            transform: translateY(-4vw);          
        }

        .subHeadTitles h1{
            font-size: 6.5vw;
            margin-right: 40vw; 
            margin-left: 7vw;
            
        }




        .splashes img{
            width: 6vw;
            margin: 5vw 0vw;
            /* transform: translate(-5vw) ; */

        }

        .animHeadProducts{
            width: 45vw;
            /* margin-right: 2vw; */

        }

        .subHeadProducts h4{
            font-size: 2vw;
            margin-left: 2vw;

        }

        .tostadasAnim{
            position: relative;
            transform: translateX(-20vw);
            z-index: 9;
            overflow-x: visible;
            /* width: 100%; */

        } 


        .tostadasAnim img{
            /* margin: 0vw -5vw;  */
            

            margin-left: 0vw;
            /* border: solid; */
            padding: 0;
        }


            
    @-webkit-keyframes scroll2 {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-99vw);
        }
        65%{
            transform: translateX(-99vw);
        }
    
        75%{
            transform: translateX(-200vw);
    
        }
        95%{
            transform: translateX(-200vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }

    }


            
    @keyframes scroll2 {
        0%{
            transform: translateX(0vw);
    
        }
        30%{
            transform: translateX(0vw);
        }
    
        40%{
            transform: translateX(-99vw);
        }
        65%{
            transform: translateX(-99vw);
        }
    
        75%{
            transform: translateX(-200vw);
    
        }
        95%{
            transform: translateX(-200vw);
    
        }
    
        100%{
            transform: translateX(0vw);
    
        }

    }

    .totoposSection {
        margin-top: 0vw;
    }
    .totoposSection p{
        padding-inline: 10vw ;
    }


}